{
    "overrides": [
        {
            "files": ["*.wasm.js"],
            "rules": {
                "no-unused-expressions": "off",
                "no-restricted-globals": "off",
                "no-undef": "off",
                "import/no-amd": "off"
            }
        }
    ]
}