.form-wrapper{
    display: grid;
    grid-gap: 0px;
}

.color-wrapper{
    display: grid;
    grid-template-columns: 4rem 1fr 1fr;
    grid-gap: 0px;
}

.color-box{
    padding: 0px;
}

.title-row{
    display: grid;
    grid-template-columns: 75% 25%; 
    grid-gap: 0px;
}

.content-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 25%)); 
    grid-gap: 0;
}

.content-box{
    background-color: #f2f2f2;
    background-clip: content-box;
    padding: .5rem;
}