.App {
  text-align: center;
  position: relative;
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rows .row {
  display: inline-block;
}

body{
  padding: 4.5rem 0 0 0;
}

.navbar {
  min-height: 3.5rem;
}

.popover{
  max-width: 100%! important;
  z-index: 900! important;
}

.btn-group-toggle{
  display: flex! important;
}
 
.input-group-text{
  padding-left: .3rem! important;
  padding-right: .3rem! important;
}

.no-lr-padding{
  padding-left: 0;
  padding-right: 0;
}

.no-lr-margin{
  margin-left: 0;
  margin-right: 0;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.col{
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.common-margin{
  margin-bottom: .5rem! important;
}

.switch-toggle{
  width: 80%! important; 
  margin-bottom: .5rem! important;
}

/* Icon Styles */
i.question.circle.icon{
  vertical-align: top;
}

/* Tooltip Styles */
#tooltip-table td, #tooltip-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tooltip-table tr:nth-child(even){background-color: #f2f2f2;}

#tooltip-table tr:hover {background-color: #ddd;}

#tooltip-table th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  background-color: #000000;
  color: white;
}

#tooltip-text {
  overflow-wrap: normal;
}

.tooltip-target{
  display: inline-block;
}

/* Page Layout */
.inputs{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
  grid-gap: 0;
}

.inputs > .shells{
  grid-column: span 2;
}

.inputs > .target{
  grid-column: span 1;
}

/* Custom Colors */
:root{
  --blue-c1: #0071bc;
  --blue-c2: #045da4;
  --blue-c3: #07537d;
  --blue-c3-t: rgba(7, 51, 125, 0.5);
  --blue-c4: #205493;
  --blue-c5: #5d8fe4;

  --green-c1: #2e8540;
  --green-c2: #256a33;

}


/* Custom Button Coloring */
/* Green */
.switch-group > .btn-success{
  background-color: var(--green-c1);
}

.switch-group > .btn-success:hover{
  background-color: var(--green-c2);
}
/* Blue */
.btn-custom-blue {
  color: #fff!important;
  background-color: var(--blue-c1)!important;
  border-color: var(--blue-c1)!important;
}

.btn-custom-blue:hover {
  color: #fff!important;
  background-color: var(--blue-c2)!important;
  border-color: var(--blue-c2)!important;
}

.btn-check:focus + .btn-custom-blue, .btn-custom-blue:focus, .btn-custom-blue.focus {
  color: #fff!important;
  background-color: var(--blue-c3)!important;
  border-color: var(--blue-c3)!important;
  box-shadow: 0 0 0 0.2rem var(--blue-c3-t)!important;
}

.btn-check:checked + .btn-custom-blue,
.btn-check:active + .btn-custom-blue, .btn-custom-blue:active, .btn-custom-blue.active,
.show > .btn-custom-blue.dropdown-toggle {
  color: #fff!important;
  background-color: var(--blue-c4)!important;
  border-color: var(--blue-c3)!important;
}

.btn-check:checked + .btn-custom-blue:focus,
.btn-check:active + .btn-custom-blue:focus, .btn-custom-blue:active:focus, .btn-custom-blue.active:focus,
.show > .btn-custom-blue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--blue-c3-t)!important;
}

.btn-custom-blue:disabled, .btn-custom-blue.disabled {
  color: #fff!important;
  background-color: var(--blue-c5)!important;
  border-color: var(--blue-c5)!important;
}