.App {
  text-align: center;
  position: relative;
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rows .row {
  display: inline-block;
}

body{
  padding: 3.5rem 0 0 0;
}

.navbar {
  min-height: 3.5rem;
}

.popover{
  max-width: 100%! important;
  z-index: 900! important;
}

.btn-group-toggle{
  display: flex! important;
}

.row{
  margin-left: 0! important;
  margin-right: 0! important;
}
 
.input-group-text{
  padding-left: .3rem! important;
  padding-right: .3rem! important;
}

.no-lr-padding{
  padding-left: 0! important;
  padding-right: 0! important;
}

.common-margin{
  margin-bottom: .5rem! important;
}

.switch-toggle{
  width: 80%! important; 
  margin-bottom: .5rem! important;
}

/* Tooltip Styles */

#tooltip-table td, #tooltip-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tooltip-table tr:nth-child(even){background-color: #f2f2f2;}

#tooltip-table tr:hover {background-color: #ddd;}

#tooltip-table th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  background-color: #000000;
  color: white;
}

#tooltip-text {
  overflow-wrap: normal;
}